Repository volcano-sh/volcano, pull requests merged in 2024-10, with the labels that each got.

#3758 feature: add approve workflows action
  .github/workflows/workflows-approve.yaml
Labels: approved, lgtm, ok-to-test, size/M

#3756 Don't depend on ready condition of nodes instead of taints in session
  pkg/scheduler/api/node_info.go
  pkg/scheduler/cache/event_handlers_test.go
Labels: approved, lgtm, ok-to-test, size/M

#3762 fixes volcano-sh/volcano#3759
  pkg/webhooks/admission/queues/validate/validate_queue.go
  pkg/webhooks/admission/queues/validate/validate_queue_test.go
Labels: approved, lgtm, ok-to-test, size/M

#3763 Use watch to listen expected event instead of wait.poll
  test/e2e/jobseq/queue_job_status.go
Labels: approved, lgtm, ok-to-test, size/M, priority/important-soon

#3551 Remove init variable in Reclaimable and Preemptable parts of session_plugins
  pkg/scheduler/framework/session_plugins.go
Labels: approved, lgtm, ok-to-test, size/S

#3757 Update Kubernetes compatibility
  README.md
Labels: approved, lgtm, ok-to-test, size/S, retest-not-required-docs-only

#3720 Fix staticcheck warnings on cmd and example
  cmd/controller-manager/app/server.go
  cmd/scheduler/app/server.go
  cmd/webhook-manager/app/util.go
  example/extender/extender.go
Labels: approved, kind/feature, lgtm, ok-to-test, size/S

#3771 fix: frequently create and delete vcjobs with the same name, and the …
  pkg/controllers/apis/request.go
  pkg/controllers/job/job_controller_handler.go
  pkg/controllers/job/job_controller_util.go
  pkg/controllers/job/job_controller_util_test.go
Labels: approved, lgtm, ok-to-test, size/M

#3591 Proposal: Hierarchical Queue on Capacity Plugin
  docs/design/hierarchical-queue-on-capacity-plugin.md
  docs/design/images/hierarchical-queue-on-capacity-plugin.png
Labels: approved, lgtm, ok-to-test, size/L, kind/docs, retest-not-required-docs-only

#3722 Fix staticcheck warnings on pkg/controller and pkg/scheduler
  pkg/controllers/garbagecollector/garbagecollector.go
  pkg/controllers/job/job_controller_actions.go
  pkg/controllers/job/job_controller_util_test.go
  pkg/controllers/jobflow/jobflow_controller.go
  pkg/scheduler/api/devices/nvidia/gpushare/share.go
  pkg/scheduler/api/unschedule_info_test.go
  pkg/scheduler/cache/cache.go
  pkg/scheduler/cache/event_handlers.go
  pkg/scheduler/metrics/source/metrics_client.go
  pkg/scheduler/plugins/drf/hdrf_test.go
  pkg/scheduler/plugins/predicates/predicates.go
  pkg/scheduler/plugins/proportion/proportion_test.go
  pkg/scheduler/plugins/util/k8s/snapshot_test.go
  pkg/scheduler/uthelper/helper.go
  pkg/webhooks/admission/jobs/validate/admit_job.go
Labels: approved, kind/feature, lgtm, ok-to-test, size/L

#3776 Supports rollback when allocate callback function fails
  .github/workflows/e2e_spark.yaml
  pkg/scheduler/framework/event.go
  pkg/scheduler/framework/statement.go
  test/e2e/schedulingaction/reclaim.go
Labels: approved, lgtm, size/M

#3772 perf: imporve end to end queue processing latency
  cmd/controller-manager/app/options/options.go
  cmd/controller-manager/app/options/options_test.go
  cmd/controller-manager/app/server.go
  pkg/controllers/framework/interface.go
  pkg/controllers/queue/queue_controller.go
Labels: approved, lgtm, ok-to-test, size/S

#3781 fix: remove the default nodeSelector value from the volcano monitoring installation yaml.
  installer/volcano-monitoring-latest.yaml
Labels: approved, lgtm, ok-to-test, size/XS

#3785 remove klog v1
  .golangci.yml
  go.mod
  go.sum
  licenses/k8s.io/klog/LICENSE
  pkg/controllers/jobflow/jobflow_controller.go
  pkg/controllers/jobflow/jobflow_controller_action.go
  pkg/controllers/jobflow/jobflow_controller_handler.go
  pkg/controllers/jobtemplate/jobtemplate_controller.go
  pkg/controllers/jobtemplate/jobtemplate_controller_action.go
  pkg/controllers/jobtemplate/jobtemplate_controller_handler.go
Labels: approved, lgtm, ok-to-test, size/L

#3786 Can not sync job status correctly when upgrading from v1.5 #3640
  pkg/controllers/job/job_controller_actions.go
  pkg/controllers/job/job_controller_actions_test.go
Labels: approved, lgtm, ok-to-test, size/L

#3739 feature:add preemptionpolicy in preempt and reclaim
  docs/user-guide/how_to_configure_priorityclass_for_job.md
  pkg/controllers/job/job_controller_util.go
  pkg/scheduler/actions/preempt/preempt.go
  pkg/scheduler/actions/preempt/preempt_test.go
  pkg/scheduler/actions/reclaim/reclaim.go
  pkg/scheduler/actions/reclaim/reclaim_test.go
  pkg/scheduler/util/test_utils.go
Labels: approved, lgtm, ok-to-test, size/L

#3782 fix: update the volcano metric document.
  docs/design/metrics.md
Labels: approved, lgtm, ok-to-test, size/M, retest-not-required-docs-only

#3750 [Proposal] Add podgroup statistics doc
  docs/design/podgroup-statistics.md
Labels: approved, lgtm, ok-to-test, size/M, retest-not-required-docs-only

#3764 Optimize the admission log of vcjob update
  pkg/webhooks/admission/jobs/validate/admit_job.go
Labels: approved, lgtm, ok-to-test, size/XS

#3788 Introducing Volcano Guru on Gurubase.io
  README.md
Labels: approved, lgtm, ok-to-test, size/XS, retest-not-required-docs-only

#3106 fix panic when get job's elastic resource
  pkg/scheduler/api/job_info.go
  pkg/scheduler/api/job_info_test.go
  pkg/scheduler/api/resource_info.go
  pkg/scheduler/api/test_utils.go
  pkg/scheduler/plugins/capacity/capacity.go
  pkg/scheduler/plugins/proportion/proportion.go
Labels: approved, lgtm, ok-to-test, size/L, priority/important-soon

#3796 update the talks in readme
  README.md
Labels: approved, lgtm, ok-to-test, size/S, retest-not-required-docs-only

#3774 fix allocating more pods to a GPU when using volcano-vgpu feature
  pkg/scheduler/api/devices/nvidia/vgpu/utils.go
Labels: approved, lgtm, ok-to-test, size/XS

#3743 feat: add hierarchical queues for capacity plugin
  cmd/webhook-manager/app/server.go
  installer/helm/chart/volcano/templates/admission.yaml
  installer/helm/chart/volcano/templates/controllers.yaml
  installer/helm/chart/volcano/templates/scheduler.yaml
  installer/volcano-development.yaml
  pkg/controllers/queue/queue_controller_action.go
  pkg/controllers/queue/queue_controller_handler.go
  pkg/controllers/queue/queue_controller_util.go
  pkg/scheduler/actions/preempt/preempt.go
  pkg/scheduler/actions/reclaim/reclaim.go
  pkg/scheduler/api/types.go
  pkg/scheduler/cache/cache.go
  pkg/scheduler/cache/interface.go
  pkg/scheduler/framework/session.go
  pkg/scheduler/framework/session_plugins.go
  pkg/scheduler/plugins/capacity/capacity.go
  pkg/scheduler/plugins/capacity/capacity_test.go
  pkg/webhooks/admission/jobs/validate/admit_job.go
  pkg/webhooks/admission/jobs/validate/admit_job_test.go
  pkg/webhooks/admission/queues/validate/validate_queue.go
  pkg/webhooks/admission/queues/validate/validate_queue_test.go
  pkg/webhooks/router/interface.go
  test/e2e/jobp/admission.go
  test/e2e/jobseq/queue.go
  test/e2e/schedulingaction/reclaim.go
  test/e2e/stress/queue.go
  test/e2e/util/queue.go
  test/e2e/util/util.go
Labels: approved, lgtm, ok-to-test, size/XXL

#3730 feat: add benchmark code
  benchmark/README.md
  benchmark/README_CN.md
  benchmark/Volcano benchmark.json
  benchmark/img/grafana_catalog.png
  benchmark/img/k8s_scheduler_workload.png
  benchmark/img/predicate_cfg.png
  benchmark/img/res/g1-mini.png
  benchmark/img/res/g1.png
  benchmark/img/res/g1\_aff.png
  benchmark/img/res/g1_aff.png
  benchmark/img/res/g1_nocache_aff.png
  benchmark/img/res/g1_rm_nodeorder_binpack.png
  benchmark/img/res/g2-mini.png
  benchmark/img/res/g2.png
  benchmark/img/res/g2_aff.png
  benchmark/img/res/g2_nocache_aff.png
  benchmark/img/res/g3-mini.png
  benchmark/img/res/g3.png
  benchmark/img/res/g3_aff.png
  benchmark/img/res/g3_nocache_aff.png
  benchmark/img/res/g4.png
  benchmark/img/res/g5.png
  benchmark/img/res/g6.png
  benchmark/img/res/g6_cpu.png
  benchmark/img/res/g6_mem.png
  benchmark/img/res/g6_v_cpu.png
  benchmark/img/res/g6_v_mem.png
  benchmark/img/scheduler_cfg.png
  benchmark/img/volcano_scheduler_workload.png
  benchmark/sh/base.sh
  benchmark/sh/benchmark.sh
  benchmark/sh/clear.sh
  benchmark/sh/custom_scheduler_config.yaml
  benchmark/sh/install-volcano.sh
  benchmark/sh/kind/kind-config.yaml
  benchmark/sh/kwok/deploy-tool.sh
  benchmark/sh/kwok/kwok-setup.sh
  benchmark/sh/kwok/kwok-uninstall.sh
  benchmark/sh/monitor/install.sh
  benchmark/sh/monitor/uninstall.sh
  benchmark/sh/pre.sh
  benchmark/sh/query.sh
  benchmark/sh/uninstall-volcano.sh
  installer/helm/chart/volcano/templates/controllers.yaml
  installer/helm/chart/volcano/templates/scheduler.yaml
  installer/helm/chart/volcano/values.yaml
  installer/volcano-development.yaml
Labels: approved, lgtm, ok-to-test, size/XXL
