Repository volcano-sh/volcano, pull requests merged in 2025-01, with the labels that each got.

#3952 chore: update development docs
  docs/development/development.md
Labels: approved, lgtm, ok-to-test, size/XS, retest-not-required-docs-only, kind/documentation, area/documentation

#3954 vc-scheduler: optimize bachNodeOrderFn in numaaware plugin
  pkg/scheduler/plugins/numaaware/numaaware.go
Labels: approved, kind/cleanup, lgtm, ok-to-test, size/S, area/scheduling

#3940 vc-scheduler: fix omitting check ancestor-queues' real-capability in capacity plugin.
  pkg/scheduler/actions/reclaim/reclaim.go
  pkg/scheduler/plugins/capacity/capacity.go
  pkg/scheduler/plugins/capacity/capacity_test.go
  pkg/scheduler/plugins/proportion/proportion.go
Labels: approved, lgtm, ok-to-test, size/M, area/scheduling

#3956 fix ut permission err for release ci
  .github/workflows/release.yaml
Labels: approved, lgtm, ok-to-test, size/XS, kind/failing-test, area/test

#3887 webhook(hypernode): validate memberSelectorType
  go.mod
  go.sum
  pkg/webhooks/admission/hypernodes/validate/admit_hypernode.go
  pkg/webhooks/admission/hypernodes/validate/admit_hypernode_test.go
  pkg/webhooks/schema/schema.go
Labels: approved, lgtm, ok-to-test, size/L

#3957 Support export kind logs
  .github/workflows/e2e_parallel_jobs.yaml
  .github/workflows/e2e_scheduling_actions.yaml
  .github/workflows/e2e_scheduling_basic.yaml
  .github/workflows/e2e_sequence.yaml
  .github/workflows/e2e_spark.yaml
  .github/workflows/e2e_vcctl.yaml
  .github/workflows/workflows-approve.yaml
  hack/lib/install.sh
  hack/local-up-volcano.sh
  hack/run-e2e-kind.sh
Labels: approved, kind/feature, lgtm, ok-to-test

#3958 vc-scheduler: rename parents to ancestors in hierarchical queueAttr.
  pkg/scheduler/plugins/capacity/capacity.go
Labels: approved, kind/cleanup, lgtm, ok-to-test, size/M, area/scheduling

#3951 reclaim: When choosing a preemptor, choose a starving one rather than one with pending tasks.
  pkg/scheduler/actions/reclaim/reclaim.go
  pkg/scheduler/actions/reclaim/reclaim_test.go
  pkg/scheduler/plugins/capacity/capacity_test.go
  test/e2e/schedulingaction/preempt.go
Labels: approved, kind/bug, lgtm, ok-to-test, size/M, area/scheduling

#3913 fix: hierarchical queue webhook validation use listing podgroups instead
  pkg/webhooks/admission/queues/validate/validate_queue.go
  pkg/webhooks/admission/queues/validate/validate_queue_test.go
Labels: approved, lgtm, ok-to-test, size/S, area/webhooks

#3917 fix: if the capability cpu or memory is not specified in the hierarchical queue, it will be set to the corresponding value of the parent queue
  pkg/scheduler/api/test_utils.go
  pkg/scheduler/plugins/capacity/capacity.go
  pkg/scheduler/plugins/capacity/capacity_test.go
Labels: approved, ok-to-test, size/M

#3964 Update: Populate hyperNode info
  config/crd/volcano/bases/topology.volcano.sh_hypernodes.yaml
  go.mod
  go.sum
  installer/helm/chart/volcano/crd/bases/topology.volcano.sh_hypernodes.yaml
  installer/helm/chart/volcano/templates/scheduler.yaml
  installer/volcano-development.yaml
  pkg/controllers/job/job_controller_actions.go
  pkg/scheduler/actions/allocate/allocate.go
  pkg/scheduler/actions/allocate/allocate_test.go
  pkg/scheduler/actions/backfill/backfill_test.go
  pkg/scheduler/api/cluster_info.go
  pkg/scheduler/api/hyper_node_info.go
  pkg/scheduler/api/hyper_node_info_test.go
  pkg/scheduler/api/job_info_test.go
  pkg/scheduler/api/test_utils.go
  pkg/scheduler/api/test_utils_test.go
  pkg/scheduler/cache/cache.go
  pkg/scheduler/cache/cache_mock.go
  pkg/scheduler/cache/dumper.go
  pkg/scheduler/cache/event_handlers.go
  pkg/scheduler/cache/event_handlers_test.go
  pkg/scheduler/framework/session.go
  pkg/scheduler/plugins/cdp/cdp_test.go
  pkg/scheduler/plugins/pdb/pdb_test.go
  pkg/scheduler/uthelper/helper.go
  pkg/scheduler/util/scheduler_helper.go
  pkg/scheduler/util/scheduler_helper_test.go
Labels: approved, kind/feature, lgtm, ok-to-test, area/scheduling, size/XXL

#3969 Move GetAncestors as HyperNodeInfoMap method and provide GetLCAHyperNode
  pkg/scheduler/api/cluster_info.go
  pkg/scheduler/api/hyper_node_info.go
  pkg/scheduler/api/hyper_node_info_test.go
  pkg/scheduler/cache/cache.go
  pkg/scheduler/cache/dumper.go
  pkg/scheduler/framework/session.go
Labels: approved, kind/feature, lgtm, ok-to-test, size/L, area/scheduling

#3813 Support more actions for volcano job failure scenario
  docs/user-guide/how_to_use_job_policy.md
  pkg/controllers/apis/job_info_test.go
  pkg/controllers/apis/request.go
  pkg/controllers/job/job_controller.go
  pkg/controllers/job/job_controller_actions.go
  pkg/controllers/job/job_controller_handler.go
  pkg/controllers/job/job_controller_util.go
  pkg/controllers/job/job_controller_util_test.go
  pkg/controllers/job/job_state_test.go
  pkg/controllers/job/state/aborted.go
  pkg/controllers/job/state/aborting.go
  pkg/controllers/job/state/completing.go
  pkg/controllers/job/state/factory.go
  pkg/controllers/job/state/finished.go
  pkg/controllers/job/state/pending.go
  pkg/controllers/job/state/restarting.go
  pkg/controllers/job/state/running.go
  pkg/controllers/job/state/terminating.go
  pkg/webhooks/admission/jobs/validate/util.go
  test/e2e/jobseq/job_error_handling.go
Labels: approved, lgtm, ok-to-test, size/XL

#3897 Network topo admission validate hypernode
  pkg/webhooks/admission/hypernodes/validate/admit_hypernode.go
  pkg/webhooks/admission/hypernodes/validate/admit_hypernode_test.go
Labels: approved, lgtm, ok-to-test, size/L

#3971 Volcano scheduler: Supports network topology aware scheduling when pods rescheduled
  pkg/scheduler/actions/allocate/allocate.go
  pkg/scheduler/actions/allocate/allocate_test.go
  pkg/scheduler/api/hyper_node_info.go
  pkg/scheduler/api/node_info.go
  pkg/scheduler/api/well_known_labels.go
  pkg/scheduler/cache/cache.go
  pkg/scheduler/cache/event_handlers.go
  pkg/scheduler/cache/interface.go
  pkg/scheduler/framework/job_updater.go
  pkg/scheduler/framework/session.go
  pkg/scheduler/framework/statement.go
  pkg/scheduler/plugins/proportion/proportion_test.go
  pkg/scheduler/uthelper/helper.go
  pkg/scheduler/util/test_utils.go
Labels: approved, lgtm, ok-to-test, size/L

#3963 Add missing license boilerplate
  pkg/scheduler/framework/job_updater.go
Labels: approved, lgtm, size/S, area/documentation

#3921 multi goroutine deal taskUnschedulable
  pkg/scheduler/cache/cache.go
Labels: approved, lgtm, ok-to-test, size/S, area/performance

#3973 Fix the restartPod action will cancel the restartJob delay action
  pkg/controllers/apis/request.go
  pkg/controllers/job/job_controller.go
  pkg/controllers/job/job_controller_handler.go
  pkg/controllers/job/job_controller_util.go
Labels: approved, kind/bug, lgtm, ok-to-test, size/M, area/scheduling

#3791 fix staticcheck deprecated workqueue.RateLimitingInterface warnings on pkg/controllers
  pkg/controllers/cache/cache.go
  pkg/controllers/garbagecollector/garbagecollector.go
  pkg/controllers/job/job_controller.go
  pkg/controllers/job/job_controller_resync.go
  pkg/controllers/jobflow/jobflow_controller.go
  pkg/controllers/jobtemplate/jobtemplate_controller.go
  pkg/controllers/podgroup/pg_controller.go
  pkg/controllers/queue/queue_controller.go
  pkg/controllers/queue/queue_controller_test.go
Labels: approved, kind/feature, lgtm, ok-to-test, size/L

#3975 [bugfix]fix leader-elect-resource-namespace flag not take effect
  cmd/controller-manager/app/options/options.go
  cmd/controller-manager/app/options/options_test.go
Labels: approved, kind/bug, lgtm, size/XS

#3974 Add hypernodes validation webhook configuration yaml
  cmd/webhook-manager/main.go
  installer/helm/chart/volcano/templates/webhooks.yaml
  installer/helm/chart/volcano/values.yaml
  installer/volcano-development.yaml
Labels: approved, kind/feature, lgtm, ok-to-test, size/M, area/webhooks

#3984 Bump image to v1.11.0-network-topology-preview.0
  .github/workflows/code_verify.yaml
  .github/workflows/e2e_spark.yaml
  Makefile
  Makefile.def
  README.md
  docs/design/colocation/Overview.md
  go.mod
  go.sum
  hack/check-generated-yaml.sh
  installer/helm/chart/volcano/Chart.yaml
  installer/helm/chart/volcano/values.yaml
  installer/volcano-agent-development.yaml
  installer/volcano-development.yaml
  installer/volcano-monitoring-v1.11.0-network-topology-preview.0.yaml
Labels: approved, lgtm, size/M, area/deploy

#3986 Bump image to v1.11.0
  .github/workflows/code_verify.yaml
  .github/workflows/e2e_spark.yaml
  Makefile
  Makefile.def
  README.md
  docs/design/colocation/Overview.md
  go.mod
  go.sum
  hack/check-generated-yaml.sh
  installer/helm/chart/volcano/Chart.yaml
  installer/helm/chart/volcano/values.yaml
  installer/volcano-agent-development.yaml
  installer/volcano-development.yaml
  installer/volcano-monitoring-v1.11.0.yaml
Labels: approved, lgtm, size/M, area/deploy
